.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}

.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.vgt-table.striped tbody tr:nth-of-type(odd) {
  background-color: yellow !important;
}

.vgt-table th {
  padding: 0.25em 1.5em 0.25em 0.75em !important;
  vertical-align: middle !important;
  position: relative !important;
}

.vgt-wrap__footer {
  color: #606266 !important;
  font-size: 0.9rem !important;
  padding: 0.35em !important;
  border: 1px solid #dcdfe6 !important;
  background: linear-gradient(#f4f5f8, #f1f3f6) !important;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.vgt-wrap__footer .footer__row-count__label {
  color: #606266 !important;
  font-size: 0.9rem !important;
  font-weight: bold !important;
}

.vgt-wrap__footer .footer__navigation__page-btn {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: 0 0 !important;
  border: none !important;
  text-decoration: none !important;
  color: #606266 !important;
  font-weight: 700 !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
}

.page-info__label {
  color: #606266 !important;
  font-size: 0.9rem !important;
  font-weight: bold !important;
  padding: 0em 5em 0em 0em !important;
}

.vgt-wrap__footer .footer__row-count__select {
  font-size: 0.9rem !important;
  background-color: transparent !important;
  width: auto !important;
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  height: auto !important;
  margin-left: 8px !important;
  color: #606266 !important;
  font-weight: 700 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  padding-right: 15px !important;
  padding-left: 5px !important;
}

.vgt-wrap__footer .footer__navigation__info,
.vgt-wrap__footer .footer__navigation__page-info {
  font-size: 0.9rem !important;
  display: inline-block !important;
  margin: 0 16px !important;
}
.vgt-wrap__footer .footer__navigation__page-btn span {
  display: inline-block !important;
  vertical-align: middle !important;
  font-size: 0.9rem !important;
}

.vgt-table.condensed td,
.vgt-table.condensed th.vgt-row-header {
  padding: 0.15em 0.15em 0.4em 0.4em !important;
}
